:root {
    --purple-050: #F7EEF6;
    --purple-100: #E8C7E3;
    --purple-200: #D0A0CF;
    --purple-300: #BE72B3;
    --purple-400: #9E4994;
    --purple-500: #7A2A71;
    --purple-600: #480F40;
    --purple-700: #360A30;
    --purple-800: #250821;
    --purple-900: #11030E;
    --purple-950: #090108;

    --orange-050: #FEF2EF;
    --orange-100: #FDDDD6;
    --orange-200: #FAC0B0;
    --orange-300: #F0A698;
    --orange-400: #EC7A5C;
    --orange-500: #EF5E36;
    --orange-600: #E84420;
    --orange-700: #C43417;
    --orange-800: #9B2510;
    --orange-900: #6E180A;
    --orange-950: #4A0E05;
}